<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appTitleBarName</key>
	<string>Simpsons Character Viewer</string>
	<key>appImageLoadingName</key>
	<string>image_loading.png</string>
	<key>appImageUnavailableName</key>
	<string>image_notAvailable.png</string>
	<key>appWebServicePrefixName</key>
	<string>Simpsons</string>
	<key>appImageAspectCollection</key>
	<string>AspectFit</string>
	<key>appImageAspectDetail</key>
	<string>AspectFit</string>
	<key>appCollectionCellBGColor</key>
	<string>yellow</string>
</dict>
</plist>
